html(lang="en" ng-app="zeus")
  head
    meta(charset="utf-8")
    title Podcast Manager
    link(rel="stylesheet" href="../../assets/build/css/master.min.css" media="screen" title="no title" charset="utf-8")
  body(ng-controller="MainCtrl" ng-class="{ 'dark-theme': $root.darkTheme }")
    .navbar-fixed
      nav
        .nav-wrapper
          a(href="#/").brand-logo.center Logo
          ul.left
            li.waves-effect.waves-light
              a(href="#/") Podcasts
    main
      .container(ng-view)
      
    button(type="button" class="hide button-collapse")
    
    script.
      if (typeof module === 'object') {window.module = module; module = undefined;}
    script(src="../../assets/build/js/jquery.min.js", charset="utf-8")
    script.
      if (window.module) module = window.module;
    script(src="../../assets/build/js/materialize.min.js" charset="utf-8")
    script(src='../../assets/build/js/angular.min.js' charset='utf-8')
    script(src='../../assets/build/js/angular-route.min.js' charset='utf-8')
    script(src='../../assets/build/js/podcast-manager.min.js' charset='utf-8')
