section(ng-controller="HomePageCtrl")
  .row
    .col.s12
      podcast-panel(ng-repeat="podcast in podcasts track by $index")
      preloader(ng-show="loadingPodcasts")
      p(ng-show="podcasts.length < 1").flow-text You currently have no podcasts! Why don't you add one...?
  .row
    .col.s12
      button(type="button" ng-click="openPodcastModal()" style="display:block;" data-position="bottom" data-tooltip="Add podcast").tooltipped.btn-floating.btn-large.waves-effect.waves-light.right
        i.material-icons.large add
      
  .modal#addPodcastModal
    .modal-content
      form(ng-model="podcastInfo" ng-submit="addNewPodcast(podcastInfo)").col.s12
        .row
          .col.s12.input-field
            input(type="text" ng-required="true" ng-model="podcastInfo.url")#podcastURL
            label(for="podcastURL") RSS Feed URL
          .col.s5.offset-s7
            a(href="javascript:void(0);").modal-action.modal-close.waves-effect.waves-light.btn-flat Cancel
            button(type="submit").waves-effect.waves-green.btn-flat.good Add
        .col.s12
          preloader-small(ng-show="loadingRSSFeed")
          span(ng-show="podcastInfo.hasError").danger.center
            span(ng-bind="podcastInfo.errorMessage")

  button(type="button" data-target="addPodcastModal").hide.modal-trigger
