.row
  .col.s12
    .card(ng-repeat="podcast in podcasts")
      .card-image
        img(src="{{ ::podcast.imageURL }}")
        span(ng-bind="podcast.name").cart-title
      .card-content
        p(ng-bind="podcast.description")
      .card-action
        a(href="#/podcast/{{ ::podcast.id }}").waves-effect View Podcasts
    p(ng-show="!podcasts").
      You currently have no podcasts! Why don't you add one...?
    button(type="button" ng-click="addNewPodcast()").btn-floating.btn-large.waves-effect.waves-light
      i.material-icons.large add
    
