.row(ng-controller="HomePageCtrl")
  .col.s12
    podcast-panel(ng-repeat="podcast in podcasts")
    p(ng-show="!podcasts").
      You currently have no podcasts! Why don't you add one...?
    button(type="button" ng-click="addNewPodcast()").btn-floating.btn-large.waves-effect.waves-light
      i.material-icons.large add
    
