section(ng-controller="PlayerPageCtrl")
  .row
    .col.s10.offset-s1
      .card
        .card-image.waves-effect.waves-light.waves-block
          img(src="{{ ::episode.image.url }}").activator
        .card-content.center
          span(ng-bind="episode.title").card-title.activator.waves-effect.waves-light.waves-block
        .card-reveal
          span(ng-bind="episode.title" style="text-align: center").card-title.waves-effect.waves-light
          span(data-bind="episode.description" style="max-width: 500px").left
      // Some type of player here
