section(ng-controller="SettingPageCtrl")
  .row
    .col.s12
      h3.center Settings
      table
        thead
          tr
            th Name
            th Value
        tbody
          tr
            td Theme
            td
              .switch
                label
                  | Off
                  input(type="checkbox" ng-model="settings.darkTheme" checked)
                  span.lever
                  | On
          tr
            td Animations
            td
              .switch
                label
                  | Off
                  input(type="checkbox" ng-model="settings.animations" checked)
                  span.lever
                  | On
          tr
            td Analytics
            td
              .switch
                label
                  | Off
                  input(type="checkbox" ng-model="settings.analytics" checked)
                  span.lever
                  | On
          tr
            td Auto-Play
            td
              .switch
                label
                  | Off
                  input(type="checkbox" ng-model="settings.autoplay" checked)
                  span.lever
                  | On
          tr
            td Volume
            td
              p.range-field
                input(type="range" min="0" max="100" ng-model="settings.volumeRange")
                
      button(ng-click="saveSettings();").btn-flat.good.right.waves-effect.waves-green Save  
